@import '../../../constants/variables.scss';

.landing {
    .img-logo {
        margin-top: 110px;
    }

    .user-guide-text {
        position: absolute;
        width: 150px;
        right: 56px;
        top: 70px;
        font-weight: 500;
        font-size: 90px;
        color: $electricViolet;
    }

    .main-navigation {
        display: flex;
        margin: auto;
        width: 994px;
        justify-content: space-between;
        margin-top: 49px;

        .card {
            width: 285px;
            height: 300px;
            border: 4px solid $electricViolet;
            border-radius: 40px;

            .img-logo {
                margin-top: 48px;
            }

            .title-link {
                margin-top: 40px;
                font-size: 2.25rem;
                color: $electricViolet;
            }
        }
    }

    .block-social-links {
        position: absolute;
        width: 100%;
        bottom: 0px;
        background: $electricViolet;

        .social-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 404px;
            height: 100px;
            margin: auto;
        }
    }
}