@import '../../../constants/variables.scss';

.landing {
    .img-logo {
        margin-top: 110px;
    }

    .user-guide-text {
        position: absolute;
        width: 150px;
        right: 56px;
        top: 70px;
        font-weight: 500;
        font-size: 5.625rem;
        color: $electricViolet;
    }

    .authors {
        position: absolute;
        width: 285px;
        left: -80px;
        bottom: 340px;
        font-weight: bold;
        font-size: 1.75rem;
        display: flex;
        justify-content: space-between;
        color: $electricViolet;
        transform: rotate(-90deg);
    }

    .main-navigation {
        display: flex;
        margin: auto;
        width: 994px;
        justify-content: space-between;
        margin-top: 49px;

        .card {
            width: 285px;
            height: 300px;
            border: 4px solid $electricViolet;
            border-radius: 40px;

            .img-logo {
                margin-top: 48px;
            }

            .title-link {
                margin-top: 40px;
                font-size: 2.25rem;
                color: $electricViolet;
            }
        }
    }

    .block-social-links {
        position: absolute;
        width: 100%;
        bottom: 0px;
        background: $electricViolet;

        .social-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 404px;
            height: 100px;
            margin: auto;
        }
    }
}

@media screen and (max-width: 1440px) {
    .landing {

        .user-guide-text {
            right: 30px;
            top: 35px;
        }

        .authors {
            width: 250px;
            font-size: 1.5rem;
        }

        .main-navigation {
            width: 700px;
            margin-top: 60px;

            .card {
                width: 200px;
                height: 250px;

                .img-logo {
                    margin-top: 28px;
                    height: 100px;
                    width: 100px;
                }

                .title-link {
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .landing {

        .authors {
            left: 30px;
            bottom: 120px;
            transform: rotate(0deg);
        }

        .main-navigation {
            width: 650px;
        }
    }
}

@media screen and (max-width: 768px) {
    .landing {
        .img-logo {
            width: 80%;
        }
    
        .user-guide-text {
            width: 100px;
            right: 0px;
        }
    
        .authors {
            display: none;
        }
    
        .main-navigation {
            flex-direction: column;
            width: 300px;
    
            .card {
                width: 100%;
                border: 2px solid $electricViolet;
                margin-bottom: 30px;
    
                .title-link {
                    font-size: 1.7rem;
                }
            }
        }
    
        .block-social-links {
            position: relative;
            margin-top: 50px;
    
            .social-links {
                width: 320px;
            }
        }
    }
}